services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    environment:
      NODE_ENV: production
      PORT: 3000
      API_PREFIX: api/v1
      API_DOCS_PATH: api/docs
      APP_VERSION: 0.0.0
      NEXT_PUBLIC_API_BASE_URL: http://localhost:3001/api/v1
    ports:
      - '3001:3000'

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    depends_on:
      - api
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_BASE_URL: http://api:3000/api/v1
    ports:
      - '3000:3000'
